<div class="h-full grid grid-cols-3 rounded-[14px]">
  <div class="flex flex-col justify-center items-center -ml-20 gap-3">
    <div>
      <img src="assets/images/icons/gauge.png" alt="" />
    </div>
    <div class=" text-lg font-semibold">Pressure</div>
  </div>
  <div class="flex flex-col justify-center items-center">
    <div class="font-semibold">Relative</div>
    <div class="font-bold text-4xl">1010.5</div>
    <div class="font-semibold">hpa</div>
  </div>
  <div class="flex flex-col justify-center items-center">
    <div class="font-semibold">Absolute</div>
    <div class="font-bold text-4xl">1010.5</div>
    <div class="font-semibold">hpa</div>
  </div>
</div>
