<div class="flex h-full max-h-full gap-5">
  <div class="grow h-14">
    <div class="grid grid-rows-2 grid-flow-col gap-2">
      <div class="bg-green-400 rounded-lg p-5 h-auto">cloud</div>
      <!-- ... -->
      <div class="bg-gray-400 rounded-lg p-5 h-80">09</div>
    </div>
  </div>
  <div class="grow h-14">
    <div class="grid grid-rows-2 grid-flow-col gap-2">
      <div class="bg-green-400 rounded-lg p-5 h-96">cloud</div>
      <!-- ... -->
      <div class="bg-white rounded-lg p-5 h-64">09</div>
    </div>
  </div>
</div>
