#compass{
   background-image: url("../../../assets/images/bg/bg-compass.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#compass2{
   background-image: url("../../../assets/images/bg/compass-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.label {
      position: absolute;
      transform-origin: center center;
    }
    .circle::before {
      content: '';
      display: block;
      padding-bottom: 100%;
    }



.pin-compass {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

.text-custome-gradient {
  background: #464646;
  background: linear-gradient(to top, #464646 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


