input:checked {
  background-color: #2f2f2f; /* bg-green-500 */
}

input:checked ~ span:last-child {
  --tw-translate-x: 1.75rem; /* translate-x-7 */
}

.chart-container {
  position: relative;
  height: 2px; // Adjust this value as per your requirement
}

.chart {
  canvas {
    display: block;
    max-width: 100% !important;
    height: auto;
  }
}

.stories {
  scrollbar-width: none;
}


ion-icon {
  cursor: pointer;
}

