#title {
  background-image: url("../../assets/images/bg/bg-title.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // opacity: 70%;
}
#temperature {
  background-image: url("../../assets/images/bg/bg-temperature.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#power-status {
  background-image: url("../../assets/images/bg/bg-power.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#wind-direction {
  background-image: url("../../assets/images/bg/bg-wind-direction.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#pressure {
  background-image: url("../../assets/images/bg/bg-pressure.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // opacity: 70%;
}

#humidity {
  background-image: url("../../assets/images/bg/bg-humidity.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#wind {
  background-image: url("../../assets/images/bg/bg-wind.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#wind-status {
  background-image: url("../../assets/images/bg/bg-wind-status.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
