<div class="flex h-[100%] ">
  <div
    [ngClass]="{
      'w-20': isSidebarOpen,
      'w-0': !isSidebarOpen,
      'p-0': !isSidebarOpen,
      'mx-4': true,
      'my-4': true,
      'items-center': true,
      'border-t border-b border-gray-700': true,
      'rounded-2xl': true,
      'transition-all duration-300': true
    }"
    class="bg-gray-800 text-white"
    (click)="isSidebarOpen = !isSidebarOpen"
    (mouseup)="isGridIconClicked = false"
  >
    <button class="mr-2">
      <ion-icon
        *ngIf="!isSidebarOpen"
        size="large"
        name="menu-outline"
        class="hover:text-gray-500"
      ></ion-icon>
    </button>
    <ng-container *ngIf="isSidebarOpen">
      <div class="items-center" (click)="$event.stopPropagation()">
        <nav class="flex flex-col items-center gap-10">
          <!-- Navigation links -->
          <div class="hover:bg-slate-400 rounded-r-full h-12 w-auto pl-3 mr-5">
            <a
              href="#"
              class="icon-link rounded-full flex items-center justify-center p-4 transition-colors duration-300"
              [ngClass]="{
                'bg-slate-700 text-white': isGridIconClicked,
                'bg-[#252525] text-slate-400 hover:text-white':
                  !isGridIconClicked
              }"
              (mouseup)="isGridIconClicked = true"
            >
              <ion-icon name="grid-outline"></ion-icon>
            </a>
          </div>
          <div class="hover:bg-slate-400 rounded-r-full h-12 w-auto pl-3 mr-5">
            <a
              href="#"
              class="icon-link rounded-full flex items-center justify-center p-4 transition-colors duration-300"
              [ngClass]="{
                'bg-slate-700 text-white': isBuildIconClicked,
                'bg-[#252525] text-slate-400 hover:text-white':
                  !isBuildIconClicked
              }"
              (mouseup)="isBuildIconClicked = true"
            >
              <ion-icon name="build-outline"></ion-icon>
            </a>
          </div>
          <div class="hover:bg-slate-400 rounded-r-full h-12 w-auto pl-3 mr-5">
            <a
              href="#"
              class="icon-link rounded-full flex items-center justify-center p-4 transition-colors duration-300"
              [ngClass]="{
                'bg-slate-700 text-white': isFlashIconClicked,
                'bg-[#252525] text-slate-400 hover:text-white':
                  !isFlashIconClicked
              }"
              (mouseup)="isFlashIconClicked = true"
            >
              <ion-icon name="flash-outline"></ion-icon>
            </a>
          </div>
        </nav>
      </div>
    </ng-container>
  </div>
</div>
